/*Color palettes
 *#efebd8
 *#7a7766
*/

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #89CFF0;
}

.global-header {
    background-color: #003366;
}

.index-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    font-size: large;
}

.welcome-header {
    display: flex;
    justify-content: center;
}

.global-nav ul {
    margin: 0;
}

.global-nav li {
    display: inline;
    border-bottom: 1px solid rgb(0, 0, 0, .4);
}

.global-nav a{
    display: inline-block;
    padding: .5em;
    color: black;
    text-decoration: none;
}

.index-nav {
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
}

.image-spacing {
    margin-right: .5em;
}

.global-nav a:hover {
    background-color: #89CFF0;
    z-index: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.global-nav li:first-child a:hover {
    border-top-left-radius:  30px;
}

.global-nav li:last-child a:hover {
    border-top-right-radius:  30px;
}

.global-section {
    margin-bottom: 5em;
}

.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 0 1em;
    background-color: white;
    border-radius: 45px;
}

.section-header {
    font-weight: normal;
    text-align: center;
    font-size: 2.3em;
    padding-top: 2%;
}

.about-me-body {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-left: 3%;
    margin-right: 3%;
}

.about-me-body {
    font-size: 1.5em;
    text-indent: 45px;
}

.global-footer {
    background-color: white;
}