/*Color palettes
 *#efebd8
 *#7a7766
*/

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.global-header {
    background-color: #003366;
}

.index-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    font-size: large;
}

.welcome-header {
    display: flex;
    justify-content: center;
    color: white;
}

.global-nav ul {
    margin: 0;
    overflow: hidden;
}

.global-nav li {
    display: inline;
    border-bottom: 1px solid rgba(255, 255, 255, .8);
}

.global-nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.index-nav {
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    overflow: hidden;
    white-space: nowrap;
}

.image-spacing {
    margin-right: .5em;
}

.global-nav a:hover {
    color: black;
    background-color: #89CFF0;
    z-index: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.global-nav li:first-child a:hover {
    border-top-left-radius:  30px;
}

.global-nav li:last-child a:hover {
    border-top-right-radius:  30px;
}

.nav-center-origin {
    background-color: #003366c2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: .2em;
    margin-bottom: 1%;
}

.nav-center {
    margin-top: 0;
}

.nav-center li {
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    font-size: 1.3em;
    margin: 0;
}

.section-global {
    display: flex;
    margin: 0;
    margin-bottom: 40;
    flex-direction: column;
    background-color: #89CFF0;
}

.container {
    max-width: 60%;
    margin: auto;
    margin-bottom: 40;
    padding: 0 1em;
    background-color: white;
    border-radius: 15px;
}

.content {
    margin-bottom: 1%;
}

.section-header {
    margin: 0;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 2.3em;
    padding-top: 2%;
}

.content-body {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 1.5em;
    text-indent: 45px
}

.content-body p:first-child {
    margin-top: .5em;
}

.content-body p {
    margin-top: .10em;
}

.content-body p:last-child {
    margin-top: .5em;
}
 
.global-footer {
    display: flex;
    flex-direction: column;
    font-size: larger;
    background-color: #008080;
}

.leaving-header {
    display: flex;
    justify-content: center;
    color: white;
}

.footer-content {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: auto;
}